html{
  font-family:sans-serif;
}
.Navegador{
  border-bottom: 7px solid orange;
  background-color: gray;
  margin: 10px;
}
.nav-link, .nav-item{
  color: white;
  font-size: 25px;
  padding: 20px;
}
#dropdownMenuButton{
  font-size: 25px;
  background-color: gray;
}
.nav-link:hover{
  color: white;
}
#Cuerpo{
  padding: 30px 35px 15px 35px;
  background-color: lightgray;
  height: 100% auto;
  font-size: 20px;
}
.row{
  padding: 0 20px 0 30px;
}
.container,.contForm{
  background-color: lightgray;
  margin: 0 auto;
}
.contForm{
  margin: 0 2% 0 2%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
#foto1, #fotodos{
  height: 30%;
}
#Redsocial{
  width: 20px;
  margin: 8px;
}
.footer{
  background-color: gray;
  font-size: 15px;
  height: 60px;
  margin: 10px;
}
.formulario{
  display: inline-flex;
  border: solid black 1px;
  background-color: white;
  margin: 20px;
  width:auto;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-style: 'Comic Sans MS';
}
.inputCarga{
  display: block;
  margin: 5px;
  width: 400px;
  height: 25px;
}
.formCarga, .formEditar{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn{
  margin: 5px;
  background-color: grey;
  color: white;
}
.buttons{
  display: inline-flex;
}
.tabla{
  border: solid 1px black;
  margin: 5px 10% 0 10% ;
}
.formRegistro{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid 1px black;
  height: 200px;
  width: 310px;
}
.items{
  text-align: center;
}
