html{
  font-family:sans-serif;
}
.Navegador{
  border-bottom: 7px solid orange;
  background-color: gray;
  margin: 10px;
}
.nav-link, .nav-item{
  color: white;
  font-size: 25px;
  padding: 20px;
}
#dropdownMenuButton{
  font-size: 25px;
  background-color: gray;
}
.nav-link:hover{
  color: white;
}
#Cuerpo{
  padding: 30px 35px 15px 35px;
  background-color: lightgray;
  height: 100% auto;
  font-size: 20px;
}
.row{
  padding: 0 20px 0 30px;
}
.contForm{
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
#foto1, #fotodos{
  height: 30%;
}
#Redsocial{
  width: 20px;
  margin: 8px;
}
.footer{
  display: block;
  background-color: gray;
  bottom: 0;
  font-size: 15px;
  width: 98%;
  height: 60px;
  margin:10px;
}
.formulario{
  display: inline-flex;
  border: solid black 1px;
  background-color: white;
  margin: 20px;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-style: 'Comic Sans MS';
}
.formEdicion{
  height: 450px;
}
.inputCarga{
  display: block;
  margin: 5px;
  width: 400px;
  height: 25px;
}
.formCarga, .formEditar{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn{
  margin: 5px;
  background-color: grey;
  color: white;
}
.buttons{
  display: inline-flex;
}

.tablaJuegos{
  border: solid 1px black;
  background-color: white;
  margin: 5px;
  height: 1000px;
  width: 850px;
  overflow:scroll;
  overflow-x: hidden;
  overflow-y: auto;
}
.listaGen,.listaJuegos{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listaGen{
  width: 450px;
}
.parr{
  display: inline;
  width: 200px;
  margin: 0;
}
.boton{
  display: inline-flex;
  flex-direction: row;
  width: 100px;
}
.btnLista{
  margin-right: 60px;
}
.genRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:0;
}
.tablaGen{
  display: inline;
  flex-direction: row;
  border: solid 1px black;
  background-color: white;
  margin: 5px;
  width: 420px;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}
.formRegistro{
  display:flex;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  border: solid 1px black;
  width: 500px;
  height: auto;
  padding: 5px;
  box-shadow: 3px 5px lightgray;
  margin-bottom: 20px;
}
.items{
  text-align: center;
  margin: 10px;
}
.cuerpo{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
  background-color: lightgray;
  margin: 1%;
}
.cuerpoRegistro{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: lightgray;
  margin: 1%;
}
.lista{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.label{
  margin-left: 5px;
}
.btnDet{
  width: auto;
  background-color: inherit;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.signIn{
  width: 300px;
  padding: 10px;
}
.cuerpoDetalle{
  margin: 30px 60px 20px 60px;
}
.cuerpoEdicion{
  margin: 0 ;
  padding: 0;
  width: 80%;
  height: 80%;
}
.descripcion{
  margin: 30px 0 20px 0;
  border: solid 1px lightgrey;
  padding: 20px;
  font-size: 20px;
}
.info{
  display: inline-flex;
}
.infoGame{
  margin-right:10px;
}
.infoTitulo{
  text-align: center;
}
.rowEdicion{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.gameFig{
  display: flex;
  justify-content: center;
}
.gameImg{
  width: 80%;
  height: 80%;
}
